<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Landrick</title>
  <link rel="stylesheet" href="dist/app.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>

  <header>
    <div class="header__container">
      <div class="header__logo">
        <a href="#"><img src="img/logo-dark.png" alt="Landrick Logo"></a>
      </div>
      <div class="header__links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Landing <i class="fas fa-chevron-down"></i></a></li>
          <li><a href="">Pages <i class="fas fa-chevron-down"></i></a></li>
          <li><a href="">Docs <i class="fas fa-chevron-down"></i></a></li>
        </ul>
      </div>
      <div class="header__icons">
        <ul>
          <li><i class="fas fa-search"></i></li>
          <li><button><i class="fab fa-github"></i></button></li>
          <li><button><i class="fas fa-stream"></i></button></li>
          <li><button><i class="far fa-user"></i></button></li>
        </ul>
      </div>
    </div>
  </header>

  <main id="app">
    <div class="main__wrapper">
      <section class="main__container">
        <div class="main__text">
          <span class="main__text__dev">Development</span>
          <h1>
            <pre>A Complete</pre> Developer Toolset
          </h1>
          <p>Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
          <div class="buttons">
            <button class="button--blue">Get Started</button> <button class="button--white">Documentation</button>
          </div>
          <span>Current Version v2.6.0</span>
        </div>
        <div class="main__img">
          <img src="img/about.png" alt="Background IMG">
        </div>
      </section>
    </div>

    <section class="main__bot">
      <img src="img/amazon.svg" alt="Amazon Logo">
      <img src="img/google.svg" alt="Google Logo">
      <img src="img/lenovo.svg" alt="Lenovo Logo">
      <img src="img/paypal.svg" alt="Paypal Logo">
      <img src="img/shopify.svg" alt="Shopify Logo">
      <img src="img/spotify.svg" alt="Spotify Logo">
    </section>

    <section>
      <div class="features">
        <div class="features__text">
          <h2>
            Key Features
          </h2>
          <p>Start working with <span>Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        </div>
        <div class="features__container">
          <div v-for="item in contacts" class="box">
            <i :class="[item.icon]"></i>
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <a href="">Read More<i class="fas fa-chevron-right"></i></a>
            <div class="features__container__bg">
              <i :class="[item.icon]" id="icon--bg"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="quickstart">
        <span>Quickstart</span>
        <h2>Awesome isn't it? Let's dive in!</h2>
        <p>Start working with <span>Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <div class="table__container">
          <div class="quickstart__table">
            <ul>
              <li v-for="(name, i) in quickstart" @click="selected = i" :class="{selected:i == selected}">{{name}}</li>
            </ul>
            <p><span>$</span> npm install <span>-g</span> claps.js</p>
          </div>
          <div class="quickstart__features">
            <p><i class="far fa-check-circle"></i> Organize your data</p>
            <p><i class="far fa-check-circle"></i> Work with any team </p>
          </div>
        </div>
      </div>
    </section>

    <section class="graph">
      <div class="graph__sx">
        <h2>Build tools and
          <pre>extensive documentation</pre>
        </h2>
        <p>You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.
        <ul>
          <li><i class="far fa-check-circle"></i> Digital Marketing Solutions for Tomorrow</li>
          <li><i class="far fa-check-circle"></i> Our Talented & Experienced Marketing Agency</li>
          <li><i class="far fa-check-circle"></i> Create your own skin to match your brand</li>
        </ul>
        </p>
        <button class="button--blue">Read More <i class="fas fa-arrow-right"></i></button>
      </div>
      <div class="graph__dx">
        <img src="img/1.png" alt="">
      </div>
    </section>


    <section>
      <div class="rates">
        <div class="rates__text">
          <h2>Our rates for developer from Landrickteam</h2>
          <p>Start working with <span>Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        </div>
        <div class="rates__wrapper">
          <div class="rates__wrapper__box">
            <span>Basic</span>
            <h2>$9.00</h2>
            <p>Per Month</p>
            <p class="rates__border">All the basics for businesses that are just getting started.</p>
            <p><i class="far fa-check-circle"></i> Full Access</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <p><i class="far fa-check-circle"></i> Source Files</p>
            <p><i class="far fa-check-circle"></i> 1 Domain Free</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <button class="button--blue">Buy Now</button>
            <p>*No credit card required</p>
          </div>
          <div class="rates__wrapper__box">
            <small class="rates__best"><small>Best</small></small>
            <span>Business</span>
            <h2>$39.00</h2>
            <p>Per Month</p>
            <p class="rates__border">Better for growing businesses that want more customers.</p>
            <p><i class="far fa-check-circle"></i> Full Access</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <p><i class="far fa-check-circle"></i> Source Files</p>
            <p><i class="far fa-check-circle"></i> 1 Domain Free</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <button class="button--blue">Buy Now</button>
            <p>*No credit card required</p>
          </div>
          <div class="rates__wrapper__box">
            <span>Enterprise</span>
            <h2>$79.00</h2>
            <p>Per Month</p>
            <p class="rates__border">Advanced features for pros who need more customization</p>
            <p><i class="far fa-check-circle"></i> Full Access</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <p><i class="far fa-check-circle"></i> Source Files</p>
            <p><i class="far fa-check-circle"></i> 1 Domain Free</p>
            <p><i class="far fa-check-circle"></i> Enhanced Security</p>
            <button class="button--blue">Buy Now</button>
            <p>*No credit card required</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="form__wrapper">
        <div class="form__text">
          <h2>Want to be among the first to find out?</h2>
          <p>Start working with <span>Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        </div>
        <form>
          <input type="email" placeholder="Email Address"> <button class="button--blue">Get Started</button>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer__wrapper">
      <div class="footer__column">
        <img src="img/logo-light.png" alt="">
        <p>Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <a href="https://www.facebook.com/" target="_blank">
          <div class="footer__socials"><i class="fab fa-facebook-f"></i></div>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <div class="footer__socials"><i class="fab fa-instagram"></i></div>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <div class="footer__socials"><i class="fab fa-twitter"></i></div>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <div class="footer__socials"><i class="fab fa-linkedin-in"></i></div>
        </a>
      </div>

      <div class="footer__column">
        <h3>Company</h3>
        <ul>
          <li><a href=""><i class="fas fa-chevron-right"></i> About us</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Services</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Team</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Pricing</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Project</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Careers</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Blog</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Login</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h3>Useful Link</h3>
        <ul>
          <li><a href=""><i class="fas fa-chevron-right"></i> Terms of Services</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Privacy Policy</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Documentation</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Changelog</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Components</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h3>Newsletter</h3>
        <p>Sign up and receive the latest tips via email.</p>
        <p class="footer__mail">Write your email <span>*</span></p>
        <form>
          <input type="email" placeholder="Your Email:">
          <label class="far fa-envelope input-icon"></label>
        </form>
        <button>Subscribe</button>

      </div>


    </div>
  </footer>

  <script src="js/myscript.js" charset="utf-8"></script>
</body>

</html>
