footer {
  background-color: $primaryBG;
  padding-top: 80px;

  > footer {
    padding-top: 40px;
    margin-top: 80px;
    border-top: 1px solid #E9ECEF1A;
    position: relative;

    .footer__design {
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 30px;

      .footer__year {
        span {
          color: $red;
        }
      }

      .footer__cards {
        img {
          height: 30px;
          width: auto;
        }
      }
    }
  }
}

.center__col__wrap {
  display: flex;
  justify-content: center;
  width: 70%;
}

.footer__wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  width: 32%;
  color: $secondaryFont;

  a {
    color: $secondaryFont;
  }

  img {
    height: auto;
    width: 150px;
  }

  .footer__socials {
    border-radius: 5px;
    border: 2px solid $secondaryFont;
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .footer__socials:hover {
    border: 2px solid $primary;

    i {
      color: $primary;
    }
  }

  p {
    margin: 25px 0;
    line-height: 1.5;
  }

  .footer__mail {
    font-size: 14px;
    margin-bottom: 10px;

    span {
      color: $red;
    }
  }

  h3 {
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  li {
    font-weight: 700;
    line-height: 1.8;

    a {
      vertical-align: middle;
    }

    i {
      margin-right: 10px;
      font-size: 10px;
      vertical-align: middle;
    }

    a:hover i {
      color: $primary;
    }
  }

  form {
    position: relative;
  }

  input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding-left: 50px;
    background-color: #283353;
    border: none;
    font-weight: 700;
    font-size: 12px;
    color: $secondaryFont;
  }

  .input-icon {
    position: absolute;
    left: 20px;
    top: calc(50% - 0.5em);
  }

  button {
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    width: 100%;
    background-color: #27314F;
    color: $primary;
    box-shadow: 0 1px 4px 0 $primary;
  }
}

.footer__return {
  position: absolute;
  right: 40px;
  bottom: 30px;
  background-color: $primary;
  height: 40px;
  width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 #c7d2f3;
  color: $secondaryFont;
}
