header {
  display: flex;
justify-content: space-between;
}

.header__logo {
  img {
    height: 30px;
    width: auto;
  }
}

.header__links ul {
  display: flex;
  list-style-type: none;
  li {
    padding: 0 15px;
  }

}

.header__icons ul {
  display: flex;
  list-style-type: none;

}
