@media only screen and (max-width: 1480px) {
  .features {
    .features__text {
      margin: auto;
    }

    .box {
      margin: 20px;
    }

    .features__container {
      justify-content: center;
    }
  }

  .rates__wrapper {
    justify-content: center;

    .rates__wrapper__box {
      height: 500px;
      width: 45%;
      margin: 20px;
    }
  }

  .footer__column {
    font-size: 12px;

    ul i {
      vertical-align: baseline;
      margin: 2px;
    }

    h3 {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 1050px) {
    .jumbo__buttons {
      margin-left: 20px;

      button {
        width: 120px;
        margin: 5px 0;
      }
    }

    .graph {
      flex-wrap: wrap;

      .graph__sx {
        width: 70%;
        order: 2;
      }

      .graph__dx {
        width: 75%;

        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}
