.quickstart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  margin: auto;
  width: 70%;

  > span {
    color: $primary;
    font-weight: 700;
  }

  h2 {
    margin: 20px 0;
  }

  p {
    text-align: center;
    width: 60%;

    span {
      color: $primary;
      font-size: 17px;
    }
  }
}

.table__container {
  width: 80%;
  margin-top: 40px;
}

.quickstart__table {
  background-color: #202942;
  height: 130px;
  border-radius: 10px;
  padding-top: 25px;

  ul {
    margin: auto;
    display: flex;
    height: 50px;
    background-color: #3C4858;
    width: 90%;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;

    li {
      color: $secondaryBG;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: calc(25% - 1px);
      height: 92%;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;
    }

    li:hover {
      width: calc(25% - 1px);
      height: 97%;
      background-color: #202942;
    }
  }

  p {
    width: 90%;
    padding-top: 10px;
    margin-left: 5%;
    text-align: left;

    span {
      color: #2ECA8B;
    }
  }
}

.quickstart__features {
  margin-top: 20px;

  align-self: flex-start;
  p {
    display: inline;
    padding-right: 50px;
  }
  i {
      color: #2ECA8B;
  }
}
