.graph {
  padding-top: 80px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.graph__sx {
  width: 45%;

  h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  ul {
    font-weight: 700;
    color: $secondaryFont;

    li {
      padding: 5px 0;
      font-size: 15px;
    }
  }

  i {
    margin-right: 5px;
    color: $primary;
  }

  p {
    margin-bottom: 20px;
  }

  button {
    i {
      color: $secondaryBG;
      font-size: 12px;
    }
  }
}

.graph__dx {
  width: 40%;

  img {
    width: 450px;
    height: auto;
  }
}
