@import "partials/variables.scss";
@import "partials/header.scss";
@import "partials/jumbo.scss";
@import "partials/section1.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

pre {
  font-family: 'Quicksand', sans-serif;
}

button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border: none;
}
