@import "partials/variables.scss";
@import "partials/header.scss";
@import "partials/jumbo.scss";
@import "partials/section_features.scss";
@import "partials/section_quickstart.scss";
@import "partials/section_graph.scss";
@import "partials/section_rates.scss";
@import "partials/section_form.scss";
@import "partials/footer.scss";
@import "partials/responsive.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
pre {
  font-family: 'Quicksand', sans-serif;
}

button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border: none;
}
button:active {
  transform: translateY(2px);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: $secondaryFont;
  font-weight: 700;
}

.button--blue {
  background-color: $primary;
  color: $secondaryBG;
  border: 1px solid $primary;
  box-shadow: 0 2px 4px 0 #c7d2f3;
}

.button--white {
  background-color: $secondaryBG;
  color: $primary;
  border: 1px solid $primary;
  margin-left: 10px;
}
